*{
  box-sizing: border-box;
  margin: 0;
}

.background{
  background-image: url(Home-page/Background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width:700px){
 .background{
  background-image: url(Home-page/Background-responsive.jpg);
  background-repeat: no-repeat;
  background-size: 100vh;
   background-position: cover;
}
  
}

header{
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  border-bottom-color: darkgrey;
  width: 100vw;
}



.logo{
  width: 90px;
  margin-left: 90px;
  margin-top: 10px;
}

nav{
position: relative;
  float: right;
margin-right: 90px;
}


nav ul li {
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: black;
  
}

ul li{
  list-style: none;
}

@media (max-width:700px){
  header{
    height: 50px;
  }
  
  .logo{
    max-width: 15vw;
    height: auto;
    margin-left: 8px;
  }
  
  nav{
  position: absolute;
    top: 15px;
    right: -80px;
    

}
  
  ul li a{
  text-decoration: none;
  color: black;
  font-size: 10px;
    padding: 2px;
}
  
 

  
}

.description{
  margin-left: 190px;
  margin-top: 300px;
  font-size: 40px;
  
  width: 43vw;
}



.newline{
  display: block;
  float: right;
  margin-right: -25px;
  width: 30vw;
  
}

@media (max-width:700px) {
  .description{
    display: inline-block;
    position: relative;
    top: 200px;
  margin: 0;
  font-size: 50px;
  
  width: 43vw;
}
}
.rectangle{
  width: 440px;
  height: 2px;
  background-color: #4962dd;
  margin-left: 990px;
}

@media (max-width:700px){
  .description{
    position: absolute;
    margin-left: 10px;
    margin-top: 100px;
    font-size: 16px;
    width: 80vw;
  }
  
  .newline{
    margin-right: 2px;
    width: 60vw;
  }
  
  .rectangle{
    display: block;
    
    position: absolute;
    right: 0;
    top: 44%;
    width: 100px;
    height: 1px;
    margin-left: 0px;
  }
}


.back{
  margin-top: 596px;
}
@media (max-width:700px){
  .back img {
    width: 100%;
    height: 40vw;
  }
}
.about{
  background-color: #F7F7F7;
  width: 100%;
  height: 730px;
  margin-top: -600px;
}



ul li{
  margin: 20px;
}

@media (max-width:700px){
  ul li{
  margin: 0px;
}
}

.img{
  margin-right: 15px;
  width: 40px;
}

@media (max-width:700px){
  .img{
    width: 20px;
    height: auto;
  }
}

.img-3{
  width: 28px;
}

@media (max-width:700px){
  .img-3{
    width: 14px;
    height: auto;
  }
}

.img-1{
  width: 34px;
}

@media (max-width:700px){
  .img{
    width: 17px;
    height: auto;
  }
}



.about-1 img{
  position: absolute;
  top: 50%;
  left: 7%;
  color: #4962dd;
  width: 15vw;
}

@media (max-width:700px){
  .about-1 img{
  position: absolute;
  top: 19%;
  left: 7%;
  color: #4962dd;
  width: 15vw;
      }
  
    .about-1 p{
    position: relative;
    right: 23%;
    font-size: 10px;
    
  }
  
}

.about-1 p{
  color: #343434;
  margin-left: 120px;
  margin-top: 100px;
  font-family: sans-serif;
  width: 50vw;
}


.round-1{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
  font-family: Helvetica Neue;
}

@media (max-width:700px){
  .round-1{
    margin-top: 5px;
  }
}

#Portfolio-main{
  background-color: #F7F7F7;
  width: 100%;
  height: 3600px;
  margin-top: 2px;
}

@media (max-width:700px){
  #Portfolio-main{
    position: absolute;
    height: 2050px;
    top: 5%;
  }
}

@media (min-width: 700px){
  .projects-portfolio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1260px;
  margin-left: 90px;
  
 }
}


@media (max-width: 700px){
  .projects-portfolio{
    max-width: 400px;
    padding: 0 50px;
  }
  
  .projects-portfolio img{
    margin-left: 0;
    margin-top: 30px;
  }
  
  .projects-portfolio p{
    margin-left: 10px;
    margin-right: 0;
    width: 500px;
  }
  
  .projects-portfolio img{
    width: 100%;
    height: auto;
}

}
  

.Bernard-description p{
  width: 300px;
  margin-top: 10px;
  color: #343434;
  
}

@media (max-width: 700px){
  .Bernard-description p{
    width: 250px;
    font-size: 10px;
    margin-top: 30px;
  }
}

.Bernard-description{
  margin-left: 550px;
  margin-top: -118px;
  width: 300px;
  
}

.Bernard-img{
  width: 542px;
  margin-top: 200px;
}

#Portfolio-main h2{
  color: #4962dd;
  font-family: Gurmukhi Sangam MN;
}


.Travel-img{
  width: 542px;
  height: 362px;
  margin-left: 716px;
  margin-top: 150px;
}


.Travel-description p{
  width: 300px;
  margin-top: 10px;
  color: #343434
}

@media (max-width: 700px){
  .Travel-description p{
    width: 250px;
    font-size: 10px;
  }
  .Travel-img{
    margin-left: 0;
    margin-top: 0;
  }
}


.Travel-description{
  width: 500px;
  margin-left: 400px;
  margin-top: -136px;

}

.Photographe-img{
  margin-top: 150px;
   width: 542px;
  height: 362px;
}

.Photographe-description{
  margin-left: 550px;
  margin-top: -80px;
  width: 300px;

}

.Photographe-description p{
  margin-top: 10px;
  width: 150px;
}

@media (max-width: 700px){
  .Photographe-description p{
    width: 250px;
    font-size: 10px;
  }
  .Photographe-img{
    margin-left: 0;
  }
}


.Tuesdays-img{
  width: 542px;
  margin-left: 716px;
  margin-top: 150px;
}

.Tuesdays-description {
  margin-top: -80px;
  margin-left: 400px;
  width: 300px;

}

.Tuesdays-description p{
  margin-top: 10px;
}

@media (max-width: 700px){
  .Tuesdays-description p{
    width: 250px;
    font-size: 10px;
  }
  .Tuesdays-img{
    margin: 0;
  }
}

.ATM-img{
  margin-top: 150px;
}

.ATM-description{
  margin-left: 560px;
  margin-top: -119px;
  width: 300px;
 
}

.ATM-description p{
  margin-top: 10px;
}

@media (max-width:700px){
  .ATM-description p{
    width: 250px;
    font-size: 10px;
  }

}

.Flugen-img{
  margin-top: 150px;
  margin-left: 713px;
}

.Flugen-description{
  width: 300px;
  margin-left: 400px;
  margin-top: -119px;
}

.Flugen-description p{
  margin-top: 10px; 
}

@media (max-width:700px){
  .Flugen-description p{
    width: 250px;
    font-size: 10px;
   }
}


@media (max-width:700px){
  .project-desc {
    margin: 0;
    width: 250px;
 }
  
  .project-desc p{
    font-size: 10px;
    margin-top: 5px;
    margin-left: 0;
  }
  
  .project-desc h2{
    font-size: 12px;
    margin-left: 0px;
    margin-top: 5px;
  }
}

@media (max-width:700px){
  .project-image{
    padding: 0 50px;
  }
  
  .project-image-atm{
    padding: 0 50px;
    margin: 0;
  }

}


.web{
  font-family: sans-serif;
  font-weight: 900;
  font-size: 80px;
  color: #343434;
  margin-top: 100px;
  color:  lightgrey;
}

@media (max-width:700px){
  .web{
  font-family: sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #343434;
  color:  lightgrey;
  }
}

.skills{
  font-family: sans-serif;
  font-weight: 900;
  font-size: 80px;
  color: #343434;
  margin-top: 100px;
  color:  lightgrey;
}


.projects{
  margin-top: -150px;
}

@media (max-width:700px){
  .projects{
    margin-top: 0;
  }
}

.Background{
  background-color: #F7F7F7;
}

.big-title h2{
  color: lightgrey;
  font-size: 100px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


.laptop-bernard{
  margin-left: 400px;
  margin-top: -30px;
}

.pro{
  width: 710px;
  margin: 0 auto;

}

.pro img {
  margin: 5px;
  display: inline-flex;
  width: 342px;
}


.laptop-travel{
  width: 633px;
  margin-left: 410px;
  margin-top: -25px;
}

.Ipad{
  margin-left: 530px;
  margin-top: -30px;
}

.pro-tuesdays{
  width: 710px;
  margin: 0 auto;
  margin-top: 50px;
}

.pro-tuesdays img{
  display: inline-flex;
  width: 342px;
  margin: 5px;
}

.pro-atm img{
  display: inline-flex;
  width: 342px;
  padding: 5px;
  margin: 4px;
}

.pro-atm{
  width: 710px;
  margin: 0 auto;
  margin-top: 50px;
}

.Iphone{
  margin-left: 560px;
  margin-top: -30px;
}

.Bernard-Khoury:hover img{
  filter: opacity(70%);
}

.Travel-Agency:hover img{
  filter: opacity(70%)
}

.Ludovic:hover img{
  filter: opacity(70%)
}

.Tuesdays:hover img{
  filter: opacity(70%)
}

.ATM:hover img{
  filter: opacity(70%)
}

.Flugen:hover img{
  filter: opacity(70%)
}

/* ALT */

.content h2 {
  color: lightgrey;
  font-size: 100px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
@media (max-width: 700px) {
  .content h2 {
    font-size: 35px;
  }
}
.project-gallery img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 700px) {
  .project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    max-width: 700px;
    margin: 0 auto;
  }
  .project-image {
    flex-basis: 50%;
    padding: 10px
  }
  .project-image-main {
    flex-basis: 100%;
  }
  .project-image-main-center {
    text-align: center;  }
}

  .project-image-main-center-3 {
    text-align: center;  }


@media (max-width: 700px){
  .project-image-main-center2{
  text-align: center;
}
  .project-image-atm{
    flex-basis: 50%;
    margin-top: 10px;
}
   .project-image-main-center-3 {
    text-align: center;
     margin: 0 auto;
     width: 230px;
     height: auto;
  }
}

.project-image-main-center2{
  text-align: center;
}

.project-image-atm{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    max-width: 650px;
    margin: 0 auto;
    flex-basis: 100%;
    margin-top: 50px;
}

.project-image-flugen{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    max-width: 650px;
    margin: 0 auto;
    flex-basis: 100%;
    margin-top: 50px;
}

.arrow{
  height: auto;
  width: 30px;
  position: fixed;
  top: 31%;
}

@media (max-width:700px){
  .arrow{
    height: auto;
    width: 15px;
  }
}

.arrow-right{
  right: 10px;
  top: 50%;
}
.arrow-left{
  left: 10px;
  top: 50%;
}

.keep-in-touch{
  position: absolute;
  left: 6%;
  top: 30%;
}

@media (max-width:700px){
  .keep-in-touch img{
  position: absolute;
  left: 3%;
  top: 30%;
  width: 60vw;
}
}

.contact{
  background-color: #F7F7F7;
  width: 100%;
  height: 1000px;
}

@media (max-width:700px){
  .contact{
    height: auto;
  }
}

.info-contact img{
  height:30px;
  width: 30px;
}

.first-mail{
  position: absolute;
  top: 50%;
  left:  6vw;
  width:200px;
  height: auto;
  display: flex;
}

.second-phone{
    position: absolute;
  top: 50%;
  left:  40vw;
  width: 300px;
  height: auto;
  display: flex;
}


@media (max-width:700px){
  .first-mail{
      position: absolute;
  top: 45%;
  left:  6vw;
  width:100px;
  height: auto;
  display: flex;
  }
  
  .info-contact img{
    height:20px;
    width: 20px;
  }
  
  .second-phone{
  position: absolute;
  top: 50%;
  left:  6vw;
  width: 200px;
  height: auto;
  display: flex;
}
  

}



.first-mail p{
  position: absolute;
  left: 20%;
  top: 20%;
  font-size: 20px;
  color: #343434;
}

@media (max-width:700px){
  
.first-mail p{
  position: absolute;
  left: 30%;
  top: 20%;
  font-size: 14px;
  color: #343434;
}
}

.second-phone p{
  position: absolute;
  left: 15%;
  top: 20%;
  font-size: 20px;
   color: #343434;
}

@media (max-width:700px){
  .second-phone p{
  position: absolute;
  left: 15%;
  top: 20%;
  font-size: 14px;
   color: #343434;
}
}

.sep{
  position: absolute;
  top: 43%;
  left: 6vw;
  width: 90vw;
  height: 0.05vw;
  background-color: #4962dd;
  
}

@media (max-width:700px){
  .project-image-main-center2{
    width: 150px;
    height: auto;
    margin: 0 auto;
  }
  
  .project-image-atm{
    margin: 0 auto;
  }
}

#Photo-main h2{
  color: #4962dd;
}

.Nudity-img{
  width: 542px;
  margin-top: 200px;
}

}

.skills{
  font-family: sans-serif;
  font-weight: 900;
  font-size: 25px;
  color: #343434;
  margin-top: 100px;
  margin-left: 90px;
}


.photos{
  width: 100%;
  height: auto;
  
}

.Nudity-description{
  margin-left: 650px;
  margin-top: -60px;
  width: 500px;
}

.Nudity-description p{
  width: 300px;
  margin-top: 10px;
  color: #343434;
}


.Humain-img{
  width: 542px;
  height: 362px;
  margin-left: 716px;
  margin-top: 150px;
}

.Humain-description{
  margin-left: 400px;
  margin-top: -50px;
  width: 300px;
}

#Photo-main{
  background-color: #F7F7F7;
  width: 100%;
  height: 3600px;
  margin-top: 2px;
}

@media (max-width:700px){
  #Photo-main{
    position: absolute;
    height: auto;
    top: 5%;
  }
}

.background-color{
  background-color: #F7F7F7;
}
