*{
  box-sizing: border-box;
  margin: 0;
}

.background{
  background-image: url(Home-page/Background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  border-bottom-color: darkgrey;
  width: 100vw;
}

@media (max-width:700px){
  header{
    height: 40px;
  }
  
  .logo{
    max-width: 20px;
    height: auto;
  }
}

.logo{
  width: 40px;
  margin-left: 90px;
  margin-top: 20px;
}

nav{
 margin-left: 120px;
 margin-top: -50px;
}


nav ul li {
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: black;
  
}

ul li{
  list-style: none;
}

.description{
  margin-left: 190px;
  margin-top: 300px;
  font-size: 40px;
  
  width: 43vw;
}

.newline{
  display: block;
  float: right;
  margin-right: -25px;
  width: 30vw;
  
}

.rectangle{
  width: 440px;
  height: 2px;
  background-color: #4962dd;
  margin-left: 990px;
}

@media (max-width:700px){
  .description{
    position: absolute;
    margin-left: 10px;
    margin-top: 100px;
    font-size: 12px;
    width: 80vw;
  }
  
  .newline{
    margin-right: 18px;
    width: 60vw;
  }
  
  .rectangle{
    width: 100px;
    height: 1px;
    margin-left: 300px;
  }
}


.back{
  margin-top: 596px;
}
@media (max-width:700px){
  .back img {
    width: 100%;
    height: auto;
  }
}
#about{
  background-color: #F7F7F7;
  width: 100%;
  height: 1350px;
  margin-top:-140px;
}


.menu-2{
  color: white;
  font-size: 22px;
  margin-right: 4px;
  margin-top: -100px;
  width: 100%;
}

@media (max-width:700px){
  .menu-2{
    font-size: 12px;
    margin-right:0;
    margin-left: -40px;
    width: 500px;
    height: auto;
  }
}
ul li{
  margin: 20px;
}

.img{
  margin-right: 15px;
  width: 40px;
}

@media (max-width:700px){
  .img{
    width: 20px;
    height: auto;
  }
}

.img-3{
  width: 28px;
}

@media (max-width:700px){
  .img-3{
    width: 14px;
    height: auto;
  }
}

.img-1{
  width: 34px;
}

@media (max-width:700px){
  .img{
    width: 17px;
    height: auto;
  }
}

@media (max-width:700px){
  #about h2{
     font-size: 12px; 
  }
  
  #about p{
    font-size: 10px;
  }
  
  #about{
    height: 450px;
  }
}

.about-1 h2{
  color: #4962dd;
  font-family: Gurmukhi Sangam MN;
  font-size: 27px;
}

.about-1{
  color: #343434;
  margin-left: 120px;
  margin-top: 100px;
  font-family: sans-serif;
}

@media (max-width:700px){
  .about-1{
    margin-left: 10px;
    margin-top: 50px;
  }
}

.round-1{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
  font-family: Helvetica Neue;
}

@media (max-width:700px){
  .round-1{
    margin-top: 5px;
  }
}

.Education h2{
  color: #4962dd;
  font-family: Gurmukhi Sangam MN;
  font-size: 27px;
}

.Education{
  color: #343434;
  margin-left: 120px;
  margin-top: 100px;
  font-family: sans-serif;
}


@media (max-width:700px){
  .Education{
    margin-left: 10px;
    margin-top: 20px;
  }
}

.Education .round{
  font-size: 20px;
  margin-top: 15px;
  font-weight: 300;
  font-family: Helvetica Neue;
}


@media (max-width:700px){
  .Education .round{
    margin-top: 10px;
  }
}


.Education .round-2{
  margin-top: 35px;
  font-size: 20px;
}

@media (max-width:700px){
  .Education .round-2{
    margin-top: 5px;
  }
}

.Personal{
  margin-top: 100px;
  margin-left: 120px;
  font-family: Sathu;
}


@media (max-width:700px){
  .Personal{
    margin-left: 10px;
    margin-top: 20px;
  }
}

.Personal h2{
  color: #4962dd;
  font-family: Gurmukhi Sangam MN;
  font-size: 27px;
  
}

.Personal .round{
  color: #343434;
  font-size: 20px;
  margin-top: 15px;
  font-family: Helvetica Neue;
  font-weight: 300;
}

@media (max-width:700px){
  .Personal .round{
    margin-top: 10px;
  }
}


.Personal .round-5{
  margin-top: 35px;
}

@media (max-width:700px){
  .Personal .round-5{
    margin-top: 5px;
  }
}

.Personal .second{
  color: #4962dd;
  font-style: italic;
  margin-top: 5px;
}

#Portfolio-main{
  background-color: #F7F7F7;
  width: 100%;
  height: 3600px;
  margin-top: 2px;
}

@media (max-width:700px){
  #Portfolio-main{
    height: 2050px;
  }
}

@media (min-width: 700px){
  .projects-portfolio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1260px;
  margin-left: 90px;
 }
}


@media (max-width: 700px){
  .projects-portfolio{
    max-width: 400px;
  }
  
  .projects-portfolio img{
    margin-left: 0;
    margin-top: 30px;
  }
  
  .projects-portfolio p{
    margin-left: 10px;
    margin-right: 0;
  }
  
  .projects-portfolio img{
    width: 100%;
    height: auto;
}

  
  
}
  

.Bernard-description p{
  width: 500px;
  margin-top: 10px;
  color: #343434;
  
}

@media (max-width: 700px){
  .Bernard-description p{
    width: 300px;
    font-size: 10px;
  }
}

.Bernard-description{
  margin-left: 550px;
  margin-top: -78px;
  width: 500px;
  
}

.Bernard-img{
  width: 542px;
  margin-top: 200px;
}

#Portfolio-main h2{
  color: #4962dd;
  font-family: Gurmukhi Sangam MN;
}


.Travel-img{
  width: 542px;
  height: 362px;
  margin-left: 716px;
  margin-top: 150px;
}


.Travel-description p{
  width: 500px;
  margin-top: 10px;
  color: #343434
}

@media (max-width: 700px){
  .Travel-description p{
    width: 300px;
    font-size: 10px;
  }
}


.Travel-description{
  width: 500px;
  margin-left: 220px;
  margin-top: -100px;

}

.Photographe-img{
  margin-top: 150px;
   width: 542px;
  height: 362px;
}

.Photographe-description{
  margin-left: 550px;
  margin-top: -60px;
  width: 500px;

}

.Photographe-description p{
  margin-top: 10px;
}


.Tuesdays-img{
  width: 542px;
  margin-left: 716px;
  margin-top: 150px;
}

.Tuesdays-description {
  margin-top: -60px;
  margin-left: 240px;

}

.Tuesdays-description p{
  margin-top: 10px;
}


.ATM-img{
  margin-top: 150px;
}

.ATM-description{
  margin-left: 560px;
  margin-top: -95px;
  width: 500px;
 
}

.ATM-description p{
  margin-top: 10px;
}

.Flugen-img{
  margin-top: 150px;
  margin-left: 713px;
}

.Flugen-description{
  width: 500px;
  margin-left: 220px;
  margin-top: -100px;
}

.Flugen-description p{
  margin-top: 10px; 
}


@media (max-width:700px){
  .project-desc {
    margin: 0;
    width: 300px;
 }
  
  .project-desc p{
    font-size: 10px;
    margin-top: 5px;
  }
  
  .project-desc h2{
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
  }
}

.web{
  font-family: sans-serif;
  font-weight: 900;
  font-size: 25px;
  color: #343434;
  padding-top: 100px;
}

.projects{
  margin-top: -150px
}

.Background{
  background-color: #F7F7F7;
}

.big-title h2{
  color: lightgrey;
  font-size: 100px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


.laptop-bernard{
  margin-left: 400px;
  margin-top: -30px;
}

.pro{
  width: 710px;
  margin: 0 auto;

}

.pro img {
  margin: 5px;
  display: inline-flex;
  width: 342px;
}


.laptop-travel{
  width: 633px;
  margin-left: 410px;
  margin-top: -25px;
}

.Ipad{
  margin-left: 530px;
  margin-top: -30px;
}

.pro-tuesdays{
  width: 710px;
  margin: 0 auto;
  margin-top: 50px;
}

.pro-tuesdays img{
  display: inline-flex;
  width: 342px;
  margin: 5px;
}

.pro-atm img{
  display: inline-flex;
  width: 342px;
  padding: 5px;
  margin: 4px;
}

.pro-atm{
  width: 710px;
  margin: 0 auto;
  margin-top: 50px;
}

.Iphone{
  margin-left: 560px;
  margin-top: -30px;
}

.Bernard-Khoury:hover img{
  filter: opacity(70%);
}

.Travel-Agency:hover img{
  filter: opacity(70%)
}

.Ludovic:hover img{
  filter: opacity(70%)
}

.Tuesdays:hover img{
  filter: opacity(70%)
}

.ATM:hover img{
  filter: opacity(70%)
}

.Flugen:hover img{
  filter: opacity(70%)
}

/* ALT */

.content h2 {
  color: lightgrey;
  font-size: 100px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
@media (max-width: 700px) {
  .content h2 {
    font-size: 50px;
  }
}
.project-gallery img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 700px) {
  .project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    max-width: 700px;
    margin: 0 auto;
  }
  .project-image {
    flex-basis: 50%;
    padding: 10px
  }
  .project-image-main {
    flex-basis: 100%;
  }
  .project-image-main-center {
    text-align: center;  }
}

.arrow{
  height: auto;
  width: 30px;
  position: fixed;
  top: 50%;
}

.arrow-right{
  right: 10px;
}
.arrow-left{
  left: 10px;
}



#contact{
  background-color: #F7F7F7;
  width: 100%;
  height: 1000px;
  margin: 2px;
}

@media (max-width:700px){
  #contact{
    height: auto;
    margin: 2px;
  }
}

.info-contact img{
  height: auto;
  width: 30px;
}

.info-contact{
  margin-left: 90px;
  width:1000px;
  height: auto;
  display: flex;
}

@media (max-width:700px){
  .info-contact{
    width: 300px;
    height: auto;
  }
  
  .info-contact img{
    height: auto;
    width: 15px;
  }
  
  #contact p{
    padding: 0;
    font-size: 10px;
  }
  
  .e-mail{
    margin-right: 0;
    width: 200px;
    height: auto;
    margin-top: 40;
    margin-left: 0;
  }
}
.info-contact h2{
  flex-basis: 100%;
}

@media (max-width:700px){
  .info-contact h2{
    font-size: 15px;
    width: 200px;
  }
}

.phone-number{
  margin-top: 90px;
  width: 1000px;
}

@media (max-width:700px){
  .phone-number{
    width: 200px;
    margin-top: 40px;
  }
}

.e-mail{
  margin-right: 300px;
  width: 200px;
  height: 100px;
  margin-top: 90px;
  margin-left: -520px;
}

#contact p{
  padding: 5px;
}
