*{
  box-sizing: border-box;
}


.logo{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -1300px;
}


.description{
  font-size: 50px
}

.des1{
  margin-left: 150px;
  margin-top: 250px;
}

.des2{
  margin-left: 500px;
}

.rectangle{
  width: 700px;
  height: 4px;
  background-color: #4b65e2;
  margin-top: -200px;
  margin-left: 1444px;
}

nav ul li{
  display: inline-block;
}

.main-nav{

}

ul li{
  list-style: none;
}

ul li a{
  text-decoration: none;
  margin: 0 10px;
}



